pip
jupyter
numpy
pandas
matplotlib
seaborn
missingno
scipy
mysql-connector-python
sqlalchemy
ydata-profiling
fastcluster
geopy
folium
plotly
scikit-learn
streamlit # presentación app web
# basados en tutorial para rellenar valores faltantes
pyjanitor
pyreadr
session-info
upsetplot
